{% extends "layout/dashboard_base.html" %}

{% block title %}
Patient Dashboard
{% endblock %}

{% block page_title %}
Patient Dashboard
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Appointments</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Doctors</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Reports</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Medicines</h5>

<h2>0</h2>

</div>

</div>

</div>

</div>

{% endblock %}