{% extends "layout/dashboard_base.html" %}

{% block title %}
Doctor Dashboard
{% endblock %}

{% block page_title %}
Doctor Dashboard
{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-3">

<div class="card bg-primary text-white shadow">

<div class="card-body text-center">

<h5>Total Patients</h5>

<h2>{{ patient_count }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card bg-success text-white shadow">

<div class="card-body text-center">

<h5>Appointments</h5>

<h2>{{ appointment_count }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card bg-warning text-dark shadow">

<div class="card-body text-center">

<h5>Prescriptions</h5>

<h2>{{ prescription_count }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card bg-danger text-white shadow">

<div class="card-body text-center">

<h5>Emergency</h5>

<h2>{{ emergency_count }}</h2>

</div>

</div>

</div>

</div>

<br>

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h4>

Welcome Dr.

<div class="mt-3">

<a href="/doctor/dashboard"
class="btn btn-primary">

<i class="bi bi-calendar-check"></i>

Appointments

</a>

<a href="/admin/reports"
class="btn btn-success">

<i class="bi bi-bar-chart"></i>

Reports

</a>

</div>

{{ current_user.full_name }}

</h4>

</div>

<div class="card-body">

<div class="row">

<div class="col-md-6">

<p>

<b>Email :</b>

{{ current_user.email }}

</p>

<p>

<b>Phone :</b>

{{ current_user.phone }}

</p>

<p>

<b>Role :</b>

{{ current_user.role }}

</p>

</div>

<div class="col-md-6 text-end">

<i class="bi bi-person-circle"
style="font-size:90px;color:#0d6efd;">

</i>

</div>

</div>

</div>

</div>

<br>

<div class="card shadow">

<div class="card-header bg-success text-white">

Today's Appointments

</div>

<div class="card-body">

<table class="table table-bordered">

<thead>

<tr>

<th>ID</th>

<th>Patient</th>

<th>Date</th>

<th>Time</th>

<th>Status</th>

</tr>

</thead>

<tbody>

{% for appointment in appointments %}

<tr>

<td>{{ appointment.id }}</td>

<td>{{ appointment.patient.full_name }}</td>

<td>{{ appointment.appointment_date }}</td>

<td>{{ appointment.appointment_time }}</td>

<td>

{{ appointment.status }}

</td>

</tr>

{% else %}

<tr>

<td colspan="5" class="text-center">

No Appointments

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}