{% extends "layout/dashboard_base.html" %}

{% block title %}Beds{% endblock %}
{% block page_title %}Bed Management{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

<h3>Bed List</h3>

<a
href="{{ url_for('bed.add_bed') }}"
class="btn btn-primary">

Add Bed

</a>

</div>

<div class="card shadow">

<div class="card-body">

<table class="table table-bordered table-hover">

<thead class="table-primary">

<tr>

<th>ID</th>
<th>Bed No</th>
<th>Room</th>
<th>Status</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for bed in beds %}

<tr>

<td>{{ bed.id }}</td>

<td>{{ bed.bed_number }}</td>

<td>{{ bed.room.room_number }}</td>

<td>{{ bed.status }}</td>

<td>

<a
href="{{ url_for('bed.edit_bed', bed_id=bed.id) }}"
class="btn btn-warning btn-sm">

Edit

</a>

<a
href="{{ url_for('bed.delete_bed', bed_id=bed.id) }}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete Bed?')">

Delete

</a>

</td>

</tr>

{% else %}

<tr>

<td colspan="5" class="text-center">

No Beds Found

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}