<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Dashboard{% endblock %}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="bg-light">

<div class="d-flex">

    <!-- Sidebar -->

    <div class="bg-primary text-white p-3 vh-100" style="width:260px;">

        <h3 class="mb-4">
            MediCare HMS
        </h3>

       {% if current_user.role == "admin" %}

<a href="{{ url_for('admin.admin_dashboard') }}" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-speedometer2"></i> Dashboard
</a>

<a href="{{ url_for('doctor.doctor_list') }}" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-person-vcard"></i> Doctors
</a>

<a href="/admin/departments" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-building"></i> Departments
</a>

<a href="/admin/appointments" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-calendar-check"></i> Appointments
</a>

<a href="/admin/patients" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-people"></i> Patients
</a>

<a href="/admin/billing" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-receipt"></i> Billing
</a>

<a href="/admin/rooms" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-door-open"></i> Rooms
</a>

<a href="/admin/beds" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-grid-3x3-gap"></i> Beds
</a>

<a href="/admin/operation-theatres" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-hospital"></i> Operation Theatre
</a>

<a href="/admin/reports" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-bar-chart"></i> Reports
</a>

<a href="/admin/admissions" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-hospital-fill"></i> Admissions
</a>

{% elif current_user.role == "doctor" %}

<a href="{{ url_for('doctor.doctor_dashboard') }}" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-speedometer2"></i> Dashboard
</a>

<a href="/doctor/dashboard" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-calendar-check"></i> My Appointments
</a>

<a href="/doctor/dashboard" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-people"></i> My Patients
</a>

<a href="/admin/reports" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-bar-chart"></i> Reports
</a>

{% elif current_user.role == "patient" %}

<a href="/patient/dashboard" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-speedometer2"></i> Dashboard
</a>

<a href="/appointments/book" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-calendar-check"></i> Book Appointment
</a>

<a href="/appointments/my" class="d-block text-white text-decoration-none mb-3">
    <i class="bi bi-clock-history"></i> My Appointments
</a>

{% endif %}

        <hr>

        <a href="/logout" class="btn btn-light w-100">
            Logout
        </a>

    </div>

    <!-- Main -->

    <div class="flex-grow-1">

        <!-- Navbar -->

        <nav class="navbar navbar-light bg-white shadow-sm">

            <div class="container-fluid">

                <h4 class="mb-0">
                    {% block page_title %}
                    Dashboard
                    {% endblock %}
                </h4>

                <span>

                    Welcome,
                    <strong>{{ current_user.full_name }}</strong>

                </span>

            </div>

        </nav>

        <div class="container-fluid mt-4">

            {% block content %}

            {% endblock %}

        </div>

    </div>

</div>

</body>

</html>